.contents {
    position: fixed;
    left: 275px;          
    top: 0;
    bottom: 0;
    right: 0;          
    display: flex;
    flex-direction: column;       
    justify-content: flex-start; 
    align-items: stretch;       
    padding: 20px;      
    box-sizing: border-box;
    overflow: hidden;
}

.app-content {
    flex: 1;
    display: flex;
    gap: 20px; 
    overflow: hidden; 
    position: relative;
    z-index: 2;
}

.content-left {
    margin-left: 4px;
    flex: 2; 
    min-width: 0;
    z-index: 2;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0px;
}

.content-right {
    flex: 1; 
    max-width: 500px; 
    min-width: 0;
    position: relative;
    overflow-y: auto;
}

.content-left::-webkit-scrollbar {
    width: 15px;
}

.content-left::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.content-left::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    
}

.content-left::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a; 
}
