.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00cfff;
    border-color: rgb(233, 233, 233);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
    z-index: 1;
}

.left-sec {
    display: flex;
    align-items: center;
}

.mid-sec {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right-sec {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    background-color: red;
}

.flush-logo {
    height: 80px;
    margin-left: -4px;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    background-color: #edfcff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 238, 255);
    border-radius: 40px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    width: 0;
}

.search-bar::placeholder {
    font-family: Bricolage Grotesque, Arial;
    font-size: 16px;
}

.con {
    height: 2000px
}