html {
    background-color: #ffffff;
    font-family: Roboto, Arial;
    background-image: url('images/Flush_BG.png');
    background-size: 100% auto;
    background-repeat: repeat;
}

nav ul {
    list-style: none;
    text-align: right;
    margin-top: -50px;
}

nav li {
    display: inline-block;
    margin-right: 96px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.search-input{
    width: 550px;
    height: 20px;
}

.search-button{
    height: 25px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 527px;
}

.center-main {
    margin-top: -18px;
    left: 316px;
    position: absolute;
}

.top-container {
    position: relative; /* Establishes a positioning context for the text */
    width: 1000px; /* Fixed width prevents movement relative to screen size */
    height: 500px;
}