.sidebar {
    width: 350px;
    background-color:#38b6ff;
}
.sidebar-top {
    margin-top: -10%;
}

.flush-logo {
    margin-top: 10px;
    width: 150px;
    height: auto;
}

.toilet {
    height: 300px;
    display: block;
}

.towel-bar{
    height: 25px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}

.towel-container{
    bottom:10%;
}

.towel{
    top:2%;
}

#pfp {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    z-index: 5;
    border-radius: 50%;
    border: 4px solid;
    border-color: #2c72d4;
}

.user_stats {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    text-align: center;
    z-index: 5;
    color: #405b7e;
}

.stats-row {
    display: flex;
    gap: 35px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left:10px;
}

.stats-icon-row{
    display: flex;
    gap:65px;
}

.joined #username {
    font-weight: bold;
}

.joined {
    opacity: 70%;
    white-space: nowrap;
}

#birthday-label{
    font-weight: 600;
}

#post-icon, #comment-icon{
    width: 30px;
    height:auto;
}

.main-content{
    margin-top: 20px;
    margin-left: 380px;
    margin-right: 60px;
    padding: 40px;
}

.abt-section {
    margin-bottom: 40px;
}

.abt-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #405b7e;
}

.abt-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    max-width: 600px;
}

.posts-made h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #405b7e;
}
